<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="PathCliente" value="C:\inetpub\BrokerSite\Broker\Servidores.xml"/><!--Caminho onde o Serviço SAPHGestão foi configurado/hospedado-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TRUE_SAPH_APP_WCF.SAPHAppWCF">
        <endpoint address="" binding="basicHttpBinding" contract="SAMU192InterfaceService.ISAMU192ServiceWCF">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:30052/SAPHAppWCF"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding1">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
<system.webServer>
        <defaultDocument>
            <files>
                <add value="TRUE_SAPH_APP_WCF.SAPHAppWCF.svc" />
            </files>
        </defaultDocument>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/> 
		</modules>
    </system.webServer>
</configuration>
