<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SAMU192Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <!--<basicHttpBinding>
        <binding name="usernameHttps">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SAMU192Service.SAMU192ServiceWCF">
        <endpoint address="http://localhost:30060/SAMU192ServiceWCF" binding="basicHttpBinding" contract="SAMU192InterfaceService.ISAMU192ServiceWCF">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:30060" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <SAMU192Service.Properties.Settings>
      <setting name="EnderecoServidor" serializeAs="String">
        <value>http://localhost:30060/SAMU192ServiceWCF</value>
      </setting>
    </SAMU192Service.Properties.Settings>
  </applicationSettings>
</configuration>


<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SAMU192Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        --><!-- configure wsHttp binding with Transport security mode and clientCredentialType as Certificate --><!--
        <binding name ="basicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          --><!--<security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>--><!--
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>        
      </basicHttpBinding>
    </bindings>
    --><!--For debugging purposes set the includeExceptionDetailInFaults attribute to true--><!--
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SAMU192Service.SAMU192ServiceWCF">
        <endpoint address="http://localhost:30060/SAMU192ServiceWCF" binding="basicHttpBinding" contract="SAMU192InterfaceService.ISAMU192ServiceWCF">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:30060" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <SAMU192Service.Properties.Settings>
      <setting name="EnderecoServidor" serializeAs="String">
        <value>http://localhost:30060/SAMU192ServiceWCF</value>
      </setting>
    </SAMU192Service.Properties.Settings>
  </applicationSettings>
</configuration>-->